@import "./variables.css";

/* =========================================
   RESET & BASE
   ========================================= */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

/* =========================================
   GLOBAL UTILITIES 
   ========================================= */

/* Linkler */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

/* Container */
.container {
  width: 90%; /* Mobil için kenar boşluğu */
  margin-inline: auto;
}
